.input-group {
    display: flex;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.input-group input {
    border: 1px solid #dadada;
    border-radius: 4px;
    padding: 2px 4px;
}

button#register {
    background: #888;
    border: 1px solid #888;
    color: #000;
    padding: 4px 8px;
    min-width: 200px;
    margin: 20px auto 40px;
    cursor: pointer;
}

button#register:hover {
    background-color: #000;
    color: #fff;
}