.twitch-embed-container,
#twitch-embed,
#twitch-embed iframe {
    width: 100%;
}

.twitch-embed-container[data-active="false"] {
    display: none;
}

.yt-uploads {
    overflow-x: scroll;
    width: 100%;
    margin: 40px auto;
}

#playlist-items {
    display: flex;
    /* flex-wrap: wrap; */
    width: -moz-fit-content;
    width: fit-content;
    justify-content: center;
    gap: 20px;
}

#playlist-items li {
    width: calc(calc(50vw - 40px) - 8rem);
    height: calc(calc(calc(50vw - 40px) - 8rem) / 1.778);
}

#playlist-items li iframe {
    width: 100%;
    height: 100%;
}