/* html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Medula One", sans-serif;
  font-size: 3em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
} */

.index-title {
    font-family: 'VCR';
}

span:first-child {
    margin-right: 0;
    color: #9d9aa4;
}

span:last-child {
    color: black;
    background-color: black;
    animation: fadeWhite 1s forwards;
    animation-delay: 1s;
    position: relative;
    margin-left: var(--spacing);
}
span:last-child:after {
    content: var(--data-text);
    position: absolute;
    left: 2px;
    top: 2px;
    clip: rect(0, 900px, 0, 0);
    background-color: black;
    color: white;
    animation: glitch 3s infinite alternate-reverse;
    animation-delay: 1s;
    margin-left: var(--spacing);
}
span:last-child:before {
    content: var(--data-text);
    position: absolute;
    left: -2px;
    top: -2px;
    clip: rect(0, 900px, 0, 0);
    background-color: black;
    color: white;
    animation: glitch 3s infinite alternate-reverse;
    animation-delay: 1s;
    margin-left: var(--spacing);
}

@keyframes fadeWhite {
    100% {
        color: white;
    }
}
@keyframes glitch {
    0% {
        clip: rect(96px, 9999px, 47px, 0);
    }
    5% {
        clip: rect(31px, 9999px, 31px, 0);
    }
    10% {
        clip: rect(5px, 9999px, 46px, 0);
    }
    15% {
        clip: rect(10px, 9999px, 1px, 0);
    }
    20% {
        clip: rect(56px, 9999px, 30px, 0);
    }
    25% {
        clip: rect(60px, 9999px, 26px, 0);
    }
    30% {
        clip: rect(20px, 9999px, 9px, 0);
    }
    35% {
        clip: rect(99px, 9999px, 1px, 0);
    }
    40% {
        clip: rect(32px, 9999px, 68px, 0);
    }
    45% {
        clip: rect(53px, 9999px, 48px, 0);
    }
    50% {
        clip: rect(83px, 9999px, 10px, 0);
    }
    55% {
        clip: rect(5px, 9999px, 87px, 0);
    }
    60% {
        clip: rect(42px, 9999px, 95px, 0);
    }
    65% {
        clip: rect(30px, 9999px, 87px, 0);
    }
    70% {
        clip: rect(70px, 9999px, 48px, 0);
    }
    75% {
        clip: rect(17px, 9999px, 25px, 0);
    }
    80% {
        clip: rect(55px, 9999px, 49px, 0);
    }
    85% {
        clip: rect(19px, 9999px, 6px, 0);
    }
    90% {
        clip: rect(77px, 9999px, 47px, 0);
    }
    95% {
        clip: rect(48px, 9999px, 62px, 0);
    }
    100% {
        clip: rect(23px, 9999px, 33px, 0);
    }
}