button#add-vvod {
    background: #888;
    border: 1px solid #888;
    color: #000;
    padding: 4px 8px;
    min-width: 200px;
    margin: 20px auto 40px;
    cursor: pointer;
}

button#add-vvod:hover {
    background-color: #000;
    color: #fff;
}