@import "tailwindcss";

@font-face {
    font-family: "VCR";
    src: url("../../public/VCR_OSD_MONO_1.001.ttf");
}

/* cyan: #56fff2 */
/* magenta: #bd09f3 */

:root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --vv-cyan: #56fff2;
    --vv-magenta: #bd09f3;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    color: var(--foreground);
    font-family: VCR, Arial, Helvetica, sans-serif;
}

body.coming-soon {
    background: var(--background);
}

h1 {
    font-size: 36px;
}

.coming-soon nav {
    display: none !important;
}

.login-link {
    position: absolute;
    top: 40px;
    right: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

html:not(.coming-soon) body {
    background-image: url('../../public/assets/backgrounds/VHS_Box_Background.webp');
    background-size: contain;
}

/* inputs */
.input-group {
    display: flex;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.input-group input {
    border: 1px solid #dadada;
    border-radius: 4px;
    padding: 2px 4px;
}

.input-group select option {
    color: #222;
}

.moth-spider {
    position: absolute;
    animation-name: moth;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    bottom: 20px;
    top: auto;
    left: 20px;
    right: auto;
    transform: rotate(0deg);
}

@keyframes moth {
    0% {
        bottom: 20px;
        left: 20px;
        transform: rotate(0deg);
    }
    25% {
        bottom: 40px;
        left: 60px;
        transform: rotate(16deg);
    }
    50% {
        bottom: 20%;
        left: 30%;
        transform: rotate(29deg);
    }
    75% {
        bottom: 10%;
        left: 70%;
        transform: rotate(133deg);
    }
    85% {
        bottom: 8%;
        left: 40%;
        transform: rotate(-120deg);
    }
    100% {
        bottom: 20px;
        left: 20px;
        transform: rotate(0deg);
    }
}