@import "tailwindcss";

@font-face {
    font-family: "VCR";
    src: url("../../public/VCR_OSD_MONO_1.001.ttf");
}

/* cyan: #56fff2 */
/* magenta: #bd09f3 */

:root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --vv-cyan: #56fff2;
    --vv-magenta: #bd09f3;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    color: var(--foreground);
    font-family: VCR, Arial, Helvetica, sans-serif;
}

body.coming-soon {
    background: var(--background);
}

h1 {
    font-size: 36px;
}

.coming-soon nav {
    display: none !important;
}

.login-link {
    position: absolute;
    top: 40px;
    right: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

html:not(.coming-soon) body {
    background-image: url('../../public/assets/backgrounds/VHS_Box_Background.webp');
}