@import "tailwindcss";

@font-face {
    font-family: "VCR";
    src: url("../../public/VCR_OSD_MONO_1.001.ttf");
}

:root {
    --background: #0a0a0a;
    --foreground: #ededed;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: VCR, Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 36px;
}